$smallScreensBreakpoints: 1500px;
$tabletBreakpoints: 760px;
$phoneBreakpoints: 500px;


@mixin flexItemsCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: $smallScreensBreakpoints) {
    .section, .header, .footer--links {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1100px) {
    .categories--wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .section-cards-desc {
        text-align: center;
    }

    .card-wrapper {
        margin-top: 20px;
    }

    .card-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .card--viewers {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: $tabletBreakpoints) {
    .header--content {
        @include flexItemsCenter(column);
        align-items: flex-start;
    }
    .card-wrapper {
        grid-template-columns: repeat(2, 1fr);

    }

    .c-image {
        max-width: 400px;
    }

    .section--data {
        padding-left: 20px;
        padding-right: 20px;
    }


}

@media (max-width: $phoneBreakpoints) {
    .header--content {
        @include flexItemsCenter(column);
        align-items: flex-start;
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .card-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .c-image {
        max-width: 250px;
    }

    .img-title-background {
        max-width: 220px;
    }

    .section--title {
        top: 18px;
    }

    .section--sub-title {
        font-size: 40px;
    }

    .data-content {
        height: 300px;
    }

    .section--data {
        min-height: 0;
    }

    .images-container {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .o-image {
        top: 34%;
        left: 42%;
    }

    .article-wrappers {
        justify-content: center;
    }




}

@media (max-width: 600px) {
    .form {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }
    .form--link {
        margin-top: 10px;
    }

    .footer--wrapper{
        margin-top: 30px;
    }

    .footer--wrapper {
        margin-top: 30px;
    }
}

@media (max-width: 900px) {
    .footer--links {
        flex-wrap: wrap;
    }
}
