@mixin flexItemsCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
    align-items: center;
}

.footer {
    padding-top: 60px;
    padding-bottom: 10px;
    background-color: #141418;
}

.footer--links {
    @include flexItemsCenter(row);
    padding-bottom: 20px;
    //flex-wrap: wrap;
}

.footer--wrapper:not(:last-child) {
    margin-right: 40px;

}

.list--title {
    font-size: 20px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer--list {
    line-height: 1.9;
}

.list--item {
    color: #DCDBDB;
    font-weight: 300;
}

.list--item__link {
    text-decoration: none;
    color: #DCDBDB;
}

.form--wrapper {

}

.form--wrapper__title {
    color: #DCDBDB;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
}

.form--footer {
    @include flexItemsCenter(row);
    background-color: #ffffff;

    border-radius: 3px;
    overflow: hidden;
}

.input--footer {
    border: none;
    padding: 5px;
    background-color: transparent;
    outline: none;
    font-size: 14px;
    flex: 1;
    border-radius: 4px;
}



.form--footer__link {
    border-radius: unset;
}

.form--wrapper:last-child {
    margin-bottom: auto;
    flex: 0.4;
}

.footer--border {
    border-bottom: 1px solid #707070;
}

.footer--copy-rights {
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}
