@charset "UTF-8";
.footer {
  padding-top: 60px;
  padding-bottom: 10px;
  background-color: #141418;
}

.footer--links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.footer--wrapper:not(:last-child) {
  margin-right: 40px;
}

.list--title {
  font-size: 20px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer--list {
  line-height: 1.9;
}

.list--item {
  color: #DCDBDB;
  font-weight: 300;
}

.list--item__link {
  text-decoration: none;
  color: #DCDBDB;
}

.form--wrapper__title {
  color: #DCDBDB;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 500;
}

.form--footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 3px;
  overflow: hidden;
}

.input--footer {
  border: none;
  padding: 5px;
  background-color: transparent;
  outline: none;
  font-size: 14px;
  flex: 1;
  border-radius: 4px;
}

.form--footer__link {
  border-radius: unset;
}

.form--wrapper:last-child {
  margin-bottom: auto;
  flex: 0.4;
}

.footer--border {
  border-bottom: 1px solid #707070;
}

.footer--copy-rights {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}

@media (max-width: 1500px) {
  .section, .header, .footer--links {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1100px) {
  .categories--wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .section-cards-desc {
    text-align: center;
  }

  .card-wrapper {
    margin-top: 20px;
  }

  .card-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .card--viewers {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 760px) {
  .header--content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
  }

  .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .c-image {
    max-width: 400px;
  }

  .section--data {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 500px) {
  .header--content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
  }

  .nav-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .c-image {
    max-width: 250px;
  }

  .img-title-background {
    max-width: 220px;
  }

  .section--title {
    top: 18px;
  }

  .section--sub-title {
    font-size: 40px;
  }

  .data-content {
    height: 300px;
  }

  .section--data {
    min-height: 0;
  }

  .images-container {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .o-image {
    top: 34%;
    left: 42%;
  }

  .article-wrappers {
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .form {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }

  .form--link {
    margin-top: 10px;
  }

  .footer--wrapper {
    margin-top: 30px;
  }

  .footer--wrapper {
    margin-top: 30px;
  }
}
@media (max-width: 900px) {
  .footer--links {
    flex-wrap: wrap;
  }
}
.categories--wrapper {
  display: flex;
}

.section-cards-desc__title {
  text-transform: uppercase;
  color: #8D8D8D;
  font-weight: 600;
  font-size: 14px;
}

.section-cards-desc__sub-title {
  text-transform: capitalize;
  color: #1A1A1B;
  font-weight: 700;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.section-cards-desc__title__paragraph {
  color: #8D8D8D;
  letter-spacing: 0.6px;
  line-height: 1.4;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 40px;
  grid-column-gap: 30px;
  margin-top: 50px;
}

.card--img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.card--title {
  text-transform: uppercase;
  color: #1A1A1B;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
}

.card--desc {
  color: #8D8D8D;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.2;
}

.section--data {
  background: url("images/advertisment-background.png") no-repeat;
  background-size: cover;
  min-height: 500px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  background-color: #242424;
  background-blend-mode: multiply;
}

.data-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  height: 500px;
}

.data-content__title {
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: auto;
}

.data-content__sub-title {
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 500;
  margin-top: 10px;
  line-height: 0.6;
}

.data-content__sub-title::after {
  display: block;
  content: "-----";
  color: transparent;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: white;
  text-align: center;
}

.c-image {
  display: block;
}

.images-container {
  position: relative;
  margin-top: 40px;
  border-bottom: 4px solid #4B54FA;
}

.c-image {
  max-width: 600px;
}

.o-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-title-background {
  max-width: 420px;
}

.section-card--numberss {
  border-bottom: 1px solid #EBEBEB;
}

.card--numbers-wrappers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card--numbers {
  text-align: center;
  margin: 15px;
}

.card--numbers:not(:last-child) {
  margin-right: 20px;
}

.card--numbers--img {
  display: inline-block;
}

.card--numbers--no {
  font-family: Lato;
  font-size: 28px;
  margin-top: 16px;
  margin-bottom: 10px;
}

.card--numbers--title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.section--cards--link {
  border: 1px solid #E1E1E1;
  border-radius: 50%;
}

.section--cards--link i {
  font-size: 22px;
  padding: 4px;
}

.section--tile {
  color: #8D8D8D;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}

.section--heading {
  color: #1A1A1B;
  text-transform: capitalize;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 0.3;
}

.section--heading::after {
  display: block;
  content: "-----";
  color: transparent;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #4B54FA;
  text-align: center;
}

.card-container {
  grid-column-gap: 40px;
  margin-top: 50px;
  flex: 0.6 auto;
}

.card {
  text-align: center;
  box-shadow: 0px 0px 20px #d1d1d1;
}

.card--content {
  padding: 20px;
}

.card--heading {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

.card--sub-title {
  color: #4B54FA;
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.section--form {
  background: linear-gradient(to bottom, rgba(0, 229, 184, 0.7) 50%, rgba(0, 202, 220, 0.46)), url("images/img-ski.png") no-repeat;
  background-size: cover;
  min-height: 500px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.section--form__title {
  font-size: 32px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(120, 120, 120, 0.46);
}

.section--form__sub-title {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 50px;
  text-shadow: 1px 1px 3px rgba(120, 120, 120, 0.34);
}

.form {
  display: flex;
}

.form--input {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 22px;
  outline: none;
  flex: 1;
  font-size: 16px;
  padding: 5px 5px 5px 14px;
}

.form--input::placeholder {
  color: #ffffff;
  font-weight: 400;
  text-transform: capitalize;
}

.form--link {
  display: inline-block;
  text-decoration: none;
  padding: 14px 17px;
  color: #00B0F0;
  background-color: #ffffff;
  text-transform: uppercase;
  border-radius: 20px;
  margin-left: 10px;
}

.label {
  display: none;
}

.card--coordinate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  padding-bottom: 0;
  background-color: #F4F4F4;
  box-shadow: none;
}

.card--img--face {
  max-width: 100px;
}

.card--author {
  color: #4B54FA;
  text-transform: capitalize;
  margin-top: 25px;
  margin-bottom: 40px;
  font-weight: 500;
}

.card--paragraphy {
  color: #1A1A1B;
}

.card--paragraphy::after {
  display: block;
  content: "”";
  font-size: 100px;
  font-family: sans-serif;
}

.section--action {
  background: url("images/mountins.png") no-repeat;
  background-size: cover;
  min-height: 350px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section--action__link {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  background: linear-gradient(to bottom, #2AF598 25%, #08AEEA);
  padding: 10px 15px;
  color: #ffffff;
  border-radius: 15px;
  margin-top: 10px;
}

.link--wrapper {
  text-align: center;
}

.link--container {
  text-align: left;
}

.card--viewers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}

.card--show {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 650px;
  background: linear-gradient(to bottom, transparent 5%, black);
}

.card--show__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.card--show__content {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
}

.side {
  text-align: left;
}

.side--title {
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 26px;
  text-shadow: 1px 1px 4px #00000087;
}

.side--sub-title {
  color: #ffffff;
  font-weight: 400;
}

.card-show__link {
  border-radius: 50%;
  background: linear-gradient(to bottom, #29F39A 50%, #08AEEA);
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.card-show__link i {
  color: white;
  text-shadow: 1px 1px 4px #00000021;
}

.card--viewers {
  grid-row-gap: 30px;
  grid-column-gap: 40px;
}

.section--photo {
  background: url("images/map.png") no-repeat;
  background-size: cover;
  min-height: 350px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

body {
  font-family: Raleway;
}

.wrapper {
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  color: chocolate;
}

.logo-link__img {
  display: inline-block;
}

.nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header--content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-list__item:not(:last-child) {
  margin-right: 10px;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #303134;
  padding: 10px;
  display: inline-block;
  font-size: 18px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section--hero {
  background: linear-gradient(to right, rgba(8, 174, 234, 0.5), rgba(42, 245, 152, 0.46)), url("images/hero-img.png") no-repeat;
  background-size: cover;
  min-height: 500px;
  padding-top: 0;
  padding-bottom: 0;
}

.img-title-background {
  max-width: 220px;
}

.section-sub-wrapper {
  display: flex;
  height: 500px;
}

.section--content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.section--link {
  color: #2F2F2F;
  display: inline-block;
  background-color: #ffffff;
  padding: 5px 7px;
}

.img-wrapper {
  position: relative;
}

.section--title {
  position: absolute;
  top: 30px;
  left: 70px;
  right: 70px;
  bottom: 40px;
  text-transform: capitalize;
  color: #006CD1;
  font-weight: 600;
}

.hero-content {
  text-align: center;
}

.section--sub-title {
  font-size: 60px;
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 500;
  text-shadow: 1px 1px 3px #2f2f2f5e;
  margin-top: 40px;
}

.section--story {
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 3px #2f2f2f5e;
  margin-top: 20px;
  letter-spacing: 0.5px;
}

.img-mouse {
  display: inline-block;
  width: 25px;
  margin-top: 50px;
}

/*# sourceMappingURL=main.css.map */
