$descriptionColor: #8D8D8D;
$light-black: #303134;
$hero-height: 500px;
$purpleColor: #4B54FA;

@mixin flexItemsCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
    align-items: center;
}

.categories--wrapper {
    display: flex;
}

.section-cards-desc__title {
    text-transform: uppercase;
    color: #8D8D8D;
    font-weight: 600;
    font-size: 14px;
}

.section-cards-desc__sub-title {
    text-transform: capitalize;
    color: #1A1A1B;
    font-weight: 700;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.section-cards-desc__title__paragraph {
    color: $descriptionColor;
    letter-spacing: 0.6px;
    line-height: 1.4;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.card--img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.card--title {
    text-transform: uppercase;
    color: #1A1A1B;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
}

.card--desc {
    color: $descriptionColor;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.2;
}

.section--data {
    background: url('images/advertisment-background.png') no-repeat;
    background-size: cover;
    min-height: $hero-height;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    background-color: #6d6d6d;
    background-blend-mode: multiply;
}

//.section--data::after {
//    display: block;
//    content: "";
//    position: absolute;
//    top: 0;
//    left: 0;
//    right: 0;
//    bottom: 0;
//    background-color: #2F2F2F;
//    opacity: 0.6;
//    z-index: 1;
//}

.data-content {
    @include flexItemsCenter(column);

    position: relative;
    z-index: 1;
    height: $hero-height;
}

.data-content__title {
    color: #ffffff;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: auto;
}

.data-content__sub-title {
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 500;
    margin-top: 10px;
}

.c-image {
    display: block;
}

.images-container {
    position: relative;
    margin-top: auto;
    border-bottom: 4px solid $purpleColor;
}

.c-image {
    max-width: 600px;
}

.o-image {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    //box-shadow: 1px 1px 4px #e2e2e2;
}

.img-title-background {
    max-width: 420px;
}

//.section--data::after {
//    display: block;
//    content: "";
//    width: 400px;
//    height: 2px;
//    color: red;
//}
.section-articles {
    border-bottom: 1px solid #EBEBEB;
}

.article-wrappers {
    @include flexItemsCenter(row);
    flex-wrap: wrap;
}

.article {
    text-align: center;
    margin: 15px;
}

.article:not(:last-child) {
    margin-right: 20px;

}

.article--img {
    display: inline-block;
}

.article--no {
    font-family: Lato;
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 10px;
}

.article--title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.section--cards--link {
    border: 1px solid #E1E1E1;
    border-radius: 50%;
}

.section--cards--link i {
    font-size: 22px;
    padding: 4px;
}

.section--tile {
    color: #8D8D8D;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}

.section--heading {
    color: #1A1A1B;
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-container {
    grid-column-gap: 80px;
    margin-top: 20px;
    flex: 0.6 auto;
}

.card {
    text-align: center;
    box-shadow: 0px 0px 20px #d1d1d1;
}

.card--content {
    padding: 20px;
}

.card--heading {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

.card--sub-title {
    color: $purpleColor;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.section--form {
    background: linear-gradient(to bottom, rgba(0, 229, 184, 0.7) 50%, rgba(0, 202, 220, 0.46)),
    url("images/img-ski.png") no-repeat;
    background-size: cover;
    min-height: $hero-height;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    @include flexItemsCenter(column);
    justify-content: center;
}

.section--form--wrapper {

}

.section--form__title {
    font-size: 32px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(120, 120, 120, 0.34);
}

.section--form__sub-title {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    color: #ffffff;
    margin-top: 25px;
    margin-bottom: 50px;
    text-shadow: 1px 1px 3px rgba(120, 120, 120, 0.34);
}

.form {
    display: flex;

}

.form--input {
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 22px;
    outline: none;
    flex: 1;
    font-size: 16px;
    padding: 5px 5px 5px 14px;
}

.form--input::placeholder {
    color: #ffffff;
    font-weight: 400;
    text-transform: capitalize;

}

.form--link {
    display: inline-block;
    text-decoration: none;
    padding: 14px 17px;
    color: #00B0F0;
    background-color: #ffffff;
    text-transform: uppercase;
    border-radius: 20px;
    margin-left: 10px;
}

.label {
    display: none;
}
